@import '../../../../assets/colors/colors.scss'; 
@import 'screen-sizes'; // Importa el archivo de variables de tamaño de pantalla

.header {
  display: flex;
  justify-content: space-between; // Alinea el logo y el menú en extremos opuestos
  align-items: center;  
  padding: 10px 20px; // Ajusta el padding para mayor espacio lateral
  background-color: $black;  
  color: $white;  

  .logo-container {
    display: flex;
    align-items: center;
    gap: 15px; // Espacio entre el logo y el título

    app-logo {
      margin-right: 15px;  
    }

    h1 {
      color: $white;  
      margin: 0;  
      font-size: 1.5rem; // Ajusta el tamaño de la fuente si es necesario
    }
  }

  .nav-menu {
    ul {
      list-style: none;
      display: flex;
      gap: 20px; // Espacio entre cada elemento del menú

      li {
        a {
          color: $white;  
          text-decoration: none;
          padding: 5px 10px;  
          transition: color 0.3s ease;

          &.active {
            border-bottom: 2px solid $white; // Línea en la parte inferior para la pestaña activa
          }

          &:hover {
            color: $purple; // Cambia al color deseado al pasar el mouse
          }
        }
      }
    }
  }

  .hamburger-menu {
    display: none; // Ocultar el menú hamburguesa por defecto
    flex-direction: column;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: $white;
      margin: 3px 0;
      transition: transform 0.3s ease;
    }
  }

  @media (max-width: map-get($screen-sizes, desktop)) {
    .nav-menu {
      position: absolute;
      top: 60px; // Ajusta según tu diseño
      right: 0;
      background-color: $black;
      width: 100%;
      display: none;
      flex-direction: column;
      align-items: center;

      ul {
        flex-direction: column;
        gap: 10px; // Espacio entre los elementos del menú en la vista móvil

        li {
          margin: 1rem 0;

          a {
            padding: 10px 15px; // Ajusta el padding para la versión móvil
          }
        }
      }

      &.active {
        display: flex;
      }
    }

    .hamburger-menu {
      display: flex; // Mostrar el menú hamburguesa en tamaños pequeños
    }
  }
}
