@import '../../../../assets/colors/colors.scss';
@import 'screen-sizes.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px; // Cambia el ancho máximo para reducir el tamaño en pantallas grandes
  background-color: $white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 40px; // Aumenta el margen superior para un mejor centrado en pantallas grandes
  padding: 20px;

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 15px;
  }
}

.card {
  padding: 20px;

  h1 {
    font-size: 28px;
    color: $black;
    margin-bottom: 16px;
    text-align: center;
  }

  .form-title {
    font-size: 18px;
    color: $hint_text;
    margin-bottom: 20px;
    text-align: center;
  }

  data-form-ext {
    width: 100%;
  }
}
